@model Kokedamas_e_TuperWares.Models.Tipo
@{
    ViewBag.Title = "Tipo Cadastro";
}

<h2>Tipo Cadastrar</h2>


@using (Html.BeginForm("TipoCadastro", "Tipo"))

{
    <div class="form-group">
        @Html.LabelFor(obj => obj.Descricao)
        @Html.TextBoxFor(obj => obj.Descricao, new { @class = "form-control" })

    </div>

    <div>
        <input type="submit" value="salvar" class="btn" />
    </div>
}
